* {
    margin: 0;
}
#heading{
    font-size: 50px;
    font-weight: bolder;
    color: yellow;
    text-shadow: 3px 3px 5px black;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    position: fixed;
    width: 100%;

}

 .list {
    display: flex;
    list-style-type: none;
}

.list li {
    padding: 15px;
}

a {
    text-decoration: none;
    color: white;
}

a li:hover {
    transform: scale(120%);
    color: yellow;
    border-radius: 10px;
    text-shadow: 2px 2px 3px black;

}

button {
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 30px;
    border-style: none;
    height: 40px;
    cursor: pointer;
}
.backvideo{
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
}

#signup {
    width: 100px;
}
#signup a{
    color: black;
}
#login a{
    color: black;
}

#login {
    width: 100px;
}
/* #signup a:hover{
    color: white;
} */

button:hover {
    background-color: lightcoral;
}
.incontent{
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
}
#explore{
    margin-left: 200px;
    width: 150px;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#explore:hover{
    background-color: white;
    color: black;
}

